%h1 Listing games

%table
  %tr
    %th
    %th
    %th

  - @games.each do |game|
    = game.players[0].name
    %tr
      %td= link_to 'Join Game', game
      
%br

= link_to 'New Game', new_game_path
