//  This will render a window with the letters of the alphabet
//  Letters can be in 4 states: unknown (default), possible, definitely, no_way
//  Clicking on a letter will move it through the 4 states represented by different colors
//  Consider putting a colored box around each letter for all states but unknown